#home-admin
  .row
    .columns.medium-12
      br
      .panel
        h1
          i.fa.fa-lock
          |  Admin Page
        h4 {{ vm.message }}
        data-user-twitter-login.button.expand.secondary
        data-user-facebook-login.button.expand.secondary
      .home-public.text-center
        a.button.expand(ui-sref="ui.home") Page (all users)
